#root {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
}

/* Main wrapper for all the sections */
.dash_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 95vh;
    max-width: 100%;
    background-color: #f5f5f5;
    border-radius: 15px;
    z-index: -1;
}
