#root {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Main wrapper for all the sections */
.component_wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100%;
    margin-top: 60px;
    background-color: #f5f5f5;
    border-radius: 15px;
    z-index: -1;
}

.component_name {
    display: flex;
    height: 40px;
    background: transparent;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
    padding-top: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin-left: 50%;
    transform: translateX(-50%);
    animation-name: border_anim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3100ms;

}

@keyframes border_anim {
    0% {
        width: 0;
    }
    100% {
        width: 150px;
    }
    
}


/* Custom scrollbar */

::-webkit-scrollbar, ::-webkit-scrollbar-button, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-thumb {
    display: none;
}
