/* Main wrapper */
.dash_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85vw;
    height: 95vh;
    margin-top: 20px;
    margin-left: 180px;
    background-color: #f5f5f5;
    border-radius: 30px;

}
.dash_wrapper .sub_wrapper {
    margin: 5px;
    width: 90%;
}

/* Profile */
.dash_wrapper .profile {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 10%;
}
.dash_wrapper .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Welcome */
.dash_wrapper .welcome {
    font-size: 25px;
    height: 20%;
}

/* Mqin */
.dash_wrapper .main {
    display: flex;
    height: 70%;
    border-radius: 30px;
}
.dash_wrapper .main .left {
    width: 60%;
    margin: 10px;
    border-radius: 30px;
    background-color: white;
}
.dash_wrapper .main .left .total {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.dash_wrapper .main .left .total .title {
    font-size: 20px;
    opacity: 0.5;
}
.dash_wrapper .main .left .total .t_balance {
    display: flex;
}
.dash_wrapper .main .left .total .t_balance > * {
    color: #541d97;
    font-size: 20px;
    margin: 10px;
    padding: 10px;

}
.dash_wrapper .main .left .total .t_balance .ksh {
    border-right: 2px solid #541d97; 
    border-radius: 2px;
}

.dash_wrapper .main .left .specific {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.dash_wrapper .main .left .specific .title {
    font-size: 20px;
    opacity: 0.5;
}


.dash_wrapper .main .right {
    margin: 10px;
    width: 40%;
    border-radius: 30px;
    background-color: white;
}