:root {
    --theme-primary: rgb(19, 23, 255);
    --text-icon-color: #0a0c80;
    --text-color: #ffff;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(41, 34, 34);
    color: #ffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.header .ham {
    margin-top: 10px;
}
.header .logo {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.header .logo span {
    color: crimson;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Leckerli One', cursive; 
    margin-inline-start: -20px;
    margin-inline-end: 10px; 
}

.header .logo p {
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    padding-top: 15px;

}

.nav {
    position: fixed;
    width: 180px;
    height: 100vh;
    background-color: rgb(41, 34, 34);
    display: flex;
    text-align: flex-start;
    transition: all 0.6s ease;
}
.minimize {
    width: 0;
    max-width: 60px;
    overflow: hidden;
    transition: 0.1s ease;

}

.nav .content {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    margin-top: 80px;
}

.nav .content .links .link {
    color: var(--text-color);
    width: 90%;
    padding-right: 5px;
    text-decoration: none;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.nav .content .links .link i {
    color: var(--text-color);
    font-size: 28px;
    margin: 10px;
    margin-inline-end: 5px;
}
.nav .content .links .link p {
    font-size: 16px;
    margin: 10px;
    margin-left: 13px;
    padding-top: 2px;
    padding-right: 24px;
}
.nav .content .links .link:hover,
.nav .content .links .link:active,
.nav .content .links .link:focus {
    background-color: #727171;
    
    
}
/* Custom link */
a {
    text-decoration: none;
}
.current > * {
    background-color: #727171;
    width: 100%;
    padding-right: 5px;
}

/* logout */
.logout {
    position: absolute;
    top: 85%;
}

.empty {
    position: fixed;
    width: 0;
    height: 100vh;
    background-color: rgb(41, 34, 34);
    opacity: 0.5;
}
.empty.visible {
    width: 100%;
    display: block;
    margin-left: 180px;
    transition: margin-left 0.6s ease;

}