.nav {
    position: absolute;
    max-width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    text-align: flex-start;
    
}
.nav .content {
    font-family: 'Inter', sans-serif;
    max-width: 200px;
    height: 100vh;
}
.nav .content .title {
    cursor: pointer;
    font-weight: 700;
    color: #541d97;
    padding: 20px;
    text-align: center;
}
.nav .content .links .link {
    text-decoration: none;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: #541d97;
    font-weight: 500;
    transition: all 0.3s ease;
}
.nav .content .links .link i {
    font-size: 24px;
    color: #541d97;
    margin: 10px;
}
.nav .content .links .link p {
    font-size: 16px;
    color: #541d97;
    margin: 10px;
}
.nav .content .links .link:hover,
.nav .content .links .link:active,
.nav .content .links .link:focus {
    background-color: #b17af5;
    
}

.nav .empty {
    position: fixed;
}

/* Custom link */
a {
    text-decoration: none;
}
.current > * {
    background-color: #c8a4f5;
    width: 100%;
    padding-right: 5px;
}

/* logout */
.logout {
    position: absolute;
    top: 600px;
    display: none;
}